body{font-family: 'Roboto', sans-serif;}
.spacing-text{ color:#757374; font-weight:500; padding:0em 10%; line-height: 20px;}
.form-group label{ font-weight: 500;}
.back-button{ background: #E03B65;}
.border-radius-btn{
   border-radius:10em; 
   padding-left:30px; 
   padding-right: 30px;
}
.box-form-shadow{
  padding:11% 8%;
  border-radius:4% 7% 7% 7% ;
  -webkit-box-shadow: -1px 1px 19px 5px#EEEEEE;
  -moz-box-shadow: -1px 1px 19px 5px #EEEEEE;
  box-shadow: -1px 1px 19px 5px #EEEEEE;
}

input[type="text"], input[type="text"]:focus, input[type="email"], input[type="email"]:focus{ color:#ADB4BC; font-weight: 500;}

.select-css {
    display: block;
    padding: .4em 1.4em .3em .8em;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/arrow_select.png');
    background-repeat: no-repeat;
    background-position: right .7em top 13px, 0 0;
    background-size: .65em auto, 100%;
    color:#ADB4BC;
    font-weight: 500;
   
   }

 select option{ 
   color:#ADB4BC;
   font-weight: 500;
  }

.select-css:focus {
      background-position: right .7em top -16px, 0 0;color:#ADB4BC;
    
 }
   